.scanned-container {
    padding-left: 290px;
    padding-right: 10%;
    padding-top: 90px;
}
.scanned-title {
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 20px 10px;
}
.scanned-filter {
    margin-bottom: 30px;
    padding: 5px 10px;
    border: 1px solid #9b9a9a;
    width: fit-content;
}
.filter-options {
    border: none;
    background-color: #dce5fd;
    padding-right: 25px;
}

.results{
    padding-top: 50px;
}
th{
    padding-right: 100px;
    padding-bottom: 10px;
    text-align: center;
}
td{
    padding-bottom: 10px;
    text-align: center;
}
table,th,td{
    border: 2px solid #454545;
    border-collapse: collapse;
}
.form{
    padding-bottom: 10px;
}
table{
    border-collapse: collapse;
}