.alert-container {
    display: flex;
    height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
    margin-top: 20px;
    margin-left: 250px;
}

.alert-titles {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.alert-col-title {
    flex: 1;
    padding: 12px;
    text-align: left;
    font-weight: bold;
}

.alert-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.alert-col {
    flex: 1;
    padding: 12px;
    text-align: left;
}

.alert-row.type-ids {
    background-color: #ffd8d8;
}

.alert-row.type-malware {
    background-color: #d8ffdc;
}
