.settings {

}

.settings-container {
  padding-top: 90px;
  padding-left: 10%;
  padding-right: 10%;
}
.settings-title {
  font-size: 30px;
  font-weight: 400;
}
.settings-buttons {
  display: flex;
  justify-content: flex-start;
  margin: 50px 20px 20px 0;
}

.settings-button-import,
.settings-button-save,
.settings-button-export,
.settings-button-reset {
  padding: 10px 15px;
  margin-right: 15px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #337ab7;
  width: fit-content;
  font-size: 15px;
  font-weight: 450;
  cursor: pointer;
}
.settings-button-save{
  background-color: #337ab7;
}
.settings-button-import,
.settings-button-export {
  background-color: #5bc0de;
}
.settings-button-reset{
  background-color: #d9534f;
}
.settings-button-save:hover {
  background-color: #5ca5e6;
}
.settings-button-import:hover,
.settings-button-export:hover {
  background-color: #3c95b0;
}
.settings-button-reset:hover{
  background-color: #e4332d;
}
.settings-storage {
  padding: 10px;
  border-radius: 5px;
  width: 30%;
}
.settings-button-item {
  display: block;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #337ab7;
  text-align: left;
  font-weight: 450;
}

.settings-button-item:hover {
  background-color: #337ab7;
  color: #fff;
}
.settings-api-box {
  display: flex;
  flex-direction: row;
}